@tailwind base;
@tailwind components;
@tailwind utilities;

th,
td{
    border-bottom: 1px solid #ececec;
    padding: 8px;
    text-align: left;
}

.loader {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#ff47af 94%,#0000) top/9px 9px no-repeat,
           conic-gradient(#0000 30%,#ff47f6);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: loader-c7wet2 1s infinite linear;
 }
 
 @keyframes loader-c7wet2 {
    100% {
       transform: rotate(1turn);
    }
 }